<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-xs-12">
        <h1>Manage Users</h1>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="clients-list">
                        <ul class="nav nav-tabs">
                            <li ng-class="{'active' : tab == 1}"><a ng-click="tab = 1; rightPanel.view = ''" ng-init="tab = 1"><i class="fa fa-users"></i> Users</a></li>
                            <li ng-class="{'active' : tab == 2}"><a ng-click="tab = 2; rightPanel.view = ''"><i class="fa fa-sitemap"></i> Organizations</a></li>
                            <li ng-class="{'active' : tab == 3}"><a ng-click="tab = 3; rightPanel.view = ''"><i class="fa fa-user-secret"></i> Roles</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active" ng-show="tab == 1">

                                <div class="margin-top-25 margin-bottom-20">
                                    <h3>
                                        <a href="" ng-click="rightPanel.view='new-user'">
                                            <button class="btn btn-primary">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            &nbsp;Add New User
                                        </a>
                                    </h3>
                                </div>

                                <div class="margin-top-25 margin-bottom-20">
                                    <form role="search">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" ng-model="userSearchString" placeholder="Start typing to find user..." class="form-control" name="userSearch" id="userSearch">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" ng-click="executeUserSearch()">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="full-height-scroll" full-scroll>
                                    <div ng-show="noResultsFound" class="margin-top-30">
                                        <h3>No Results Found</h3>
                                    </div>

                                    <div ng-hide="noResultsFound" class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Primary Organization</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="n in users">
                                                <td><a href="" ng-click="changeRightPanel('user', n)" class="client-link">{{ n.firstName }}</a></td>
                                                <td><a href="" ng-click="changeRightPanel('user', n)" class="client-link">{{ n.lastName }}</a></td>
                                                <td><a href="" ng-click="changeRightPanel('user', n)" class="client-link">{{ n.email }}</a></td>
                                                <td>{{ n.primaryOrganization.name }}</td>
                                                <td>
                                                    <button ng-click="changeRightPanel('user', n)" class="btn btn-xs btn-warning margin-top-10" type="button">
                                                        <i class="fa fa-pencil"></i> Edit
                                                    </button>
                                                    <button ng-click="deleteUser(n)" class="btn btn-xs btn-danger margin-top-10" type="button">
                                                        <i class="fa fa-times"></i> Delete
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane active" ng-show="tab == 2">

                                <div class="margin-top-25 margin-bottom-20">
                                    <h3>
                                        <a href="" ng-click="rightPanel.view='new-org'">
                                            <button class="btn btn-primary">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            &nbsp;Add New Organization
                                        </a>
                                    </h3>
                                </div>

                                <div class="full-height-scroll" full-scroll>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>Organization</th>
                                                <th>Description</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="n in organizations">
                                                <td><a ng-click="changeRightPanel('org', n)" class="client-link">{{ n.name }}</a></td>
                                                <td><p class="org-desc">{{ n.description }}</p></td>
                                                <td>
                                                    <button ng-click="changeRightPanel('org', n)" class="btn btn-xs btn-warning" type="button">
                                                        <i class="fa fa-pencil"></i> Edit
                                                    </button>
                                                    <button class="btn btn-xs btn-danger" type="button">
                                                        <i class="fa fa-times"></i> Delete
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-3" class="tab-pane active" ng-show="tab == 3">

                                <div class="margin-top-25 margin-bottom-20">
                                    <h3>
                                        <a href="" ng-click="rightPanel.view = 'new-role'">
                                            <button class="btn btn-primary">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            &nbsp;Add New Role
                                        </a>
                                    </h3>
                                </div>

                                <div class="full-height-scroll" full-scroll>
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content no-padding">
                                            <ul class="list-group">
                                                <li ng-repeat="n in roles" class="list-group-item">
                                                    <h4>
                                                        <a ng-click="changeRightPanel('role', n)" class="client-link">{{ n.name }}</a>
                                                        <span class="pull-right">
                                                            <button ng-click="changeRightPanel('role', n)" class="btn btn-sm btn-warning" type="button">
                                                                <i class="fa fa-pencil"></i> Edit
                                                            </button>
                                                            &nbsp;&nbsp;
                                                            <button ng-click="deleteRole(n)" class="btn btn-sm btn-danger" type="button">
                                                                <i class="fa fa-times"></i> Delete
                                                            </button>
                                                        </span>
                                                    </h4>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox ">

                <div class="ibox-content">
                    <div class="tab-content">

                        <div id="new-user" class="tab-pane active" ng-show="rightPanel.view == 'new-user'">
                            <div class="row m-b-lg">
                                <div class="col-lg-4">
                                    <h2>New User</h2>

                                    <div class="m-b-sm">
                                        <img alt="image" class="img-circle admin-panel-avatar" src="img/default_profile.png" />
                                    </div>
                                </div>
                                <div class="col-lg-8 margin-top-30">
                                    <h3 class="text-primary">
                                        6 Licenses Remaining
                                    </h3>
                                </div>
                            </div>
                            <div class="full-height-scroll" full-scroll>
                                <form class="form-horizontal">
                                    <div class="form-group" ng-class="{ 'has-error' : newUserValidationFail.firstname }">
                                        <label class="col-sm-2 control-label">
                                            First Name
                                        </label>
                                        <div class="col-sm-10 margin-bottom-30">
                                            <input ng-model="newUser.firstName" class="form-control" type="text" />
                                            <p class="text-danger" ng-show="newUserValidationFail.firstname">Please enter a first name</p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : newUserValidationFail.lastname }">
                                        <label class="col-sm-2 control-label">
                                            Last Name
                                        </label>
                                        <div class="col-sm-10 margin-bottom-30">
                                            <input ng-model="newUser.lastName" class="form-control" type="text" />
                                            <p class="text-danger" ng-show="newUserValidationFail.lastname">Please enter a last name</p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : newUserValidationFail.title }">
                                        <label class="col-sm-2 control-label">
                                            Title
                                        </label>
                                        <div class="col-sm-10 margin-bottom-30">
                                            <input ng-model="newUser.title" class="form-control" type="text" />
                                            <p class="text-danger" ng-show="newUserValidationFail.title">Please enter a title</p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : newUserValidationFail.email }">
                                        <label class="col-sm-2 control-label">
                                            Email
                                        </label>
                                        <div class="col-sm-10 margin-bottom-30">
                                            <input ng-model="newUser.email" class="form-control" type="text" />
                                            <p class="text-danger" ng-show="newUserValidationFail.email">Please enter an email</p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : newUserValidationFail.primaryOrganization }">
                                        <label class="col-sm-2 control-label">
                                            Primary Organization
                                        </label>
                                        <div class="col-lg-6">
                                            <ui-select ng-model="newUser.primaryOrganization" theme="selectize" style="width: 300px;">
                                                <ui-select-match placeholder="Choose Primary Organization">{{ $select.selected.name }}</ui-select-match>
                                                <ui-select-choices repeat="organization in organizations | filter: $select.search">
                                                    <div ng-bind-html="organization.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <p class="text-danger" ng-show="newUserValidationFail.primaryOrganization">Please select a primary organization</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            Additional Organizations
                                        </label>
                                        <div class="col-lg-6">
                                            <ui-select multiple ng-model="newUser.additionalOrgs" theme="select2" style="width: 300px;">
                                                <ui-select-match placeholder="Choose Additional Organizations">{{ $item.name }}</ui-select-match>
                                                <ui-select-choices repeat="organization in organizations | filter: $select.search">
                                                    <div ng-bind-html="organization.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : newUserValidationFail.roles }">
                                        <label class="col-sm-2 control-label">
                                            User Roles
                                        </label>
                                        <div class="col-lg-6">
                                            <ui-select multiple ng-model="newUser.roles" theme="select2" style="width: 300px;">
                                                <ui-select-match placeholder="Choose Roles">{{ $item.name }}</ui-select-match>
                                                <ui-select-choices repeat="role in roles | filter: $select.search">
                                                    <div ng-bind-html="role.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <p class="text-danger" ng-show="newUserValidationFail.roles">Please select at least one role</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 col-sm-offset-2 margin-top-20">
                                            <button ng-click="createNewUser()" class="btn btn-block btn-primary" type="button">
                                                Add User
                                            </button>
                                        </div>
                                    </div>

                                    <div ng-show="successfullyAddedUser" class="show-hide-notifications alert alert-success col-sm-3 margin-top-20">
                                        Successfully Added User
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div id="user" class="tab-pane active" ng-show="rightPanel.view == 'user'">
                            <div class="row m-b-lg">
                                <div class="col-xs-12">
                                    <h2>{{ rightPanel.data.firstName }}&nbsp;{{ rightPanel.data.lastName }}</h2>

                                    <strong>{{ rightPanel.data.title }}</strong>

                                    <div class="row margin-top-20">
                                        <div class="col-md-3">
                                            <img alt="image" class="img-circle admin-panel-avatar" ng-src="{{ rightPanel.data.profilePicture }}"/>
                                        </div>

                                        <!-- Notification of save change -->
                                        <div ng-show="successfullyModifiedUser" class="show-hide-notifications col-md-9 text-center alert alert-success">
                                            <h3>Successfully Modified User</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="client-detail">
                                <div class="full-height-scroll" full-scroll>

                                    <div class="clients-list">
                                        <ul class="nav nav-tabs">
                                            <li ng-class="{'active' : usertab == 1}"><a ng-click="usertab = 1" ng-init="usertab = 1"><i class="fa fa-tasks"></i> Details</a></li>
                                            <li ng-class="{'active' : usertab == 2}"><a ng-click="usertab = 2"><i class="fa fa-key"></i> Organizational Permissions</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="usertab-1" class="tab-pane active" ng-show="usertab == 1">

                                                <!-- Primary Organization -->
                                                <div class="panel panel-primary margin-top-30">
                                                    <div class="panel-heading">
                                                        <h3>Member Of Primary Organization:</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <ul class="list-group margin-bottom-20 margin-left-10">
                                                            <li class="list-item"><strong>{{ rightPanel.data.primaryOrganization.name }}</strong></li>
                                                        </ul>
                                                        <table class="table table-striped table-hover">
                                                            <colgroup>
                                                                <col style="width: 70%" />
                                                                <col style="width: 30%" />
                                                            </colgroup>
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <ui-select ng-model="editUser.primaryOrganization" theme="selectize" style="width: 300px;">
                                                                        <ui-select-match placeholder="Edit primary organization">{{ $select.selected.name }}</ui-select-match>
                                                                        <ui-select-choices repeat="organization in organizations | filter: $select.search">
                                                                            <div ng-bind-html="organization.name | highlight: $select.search"></div>
                                                                        </ui-select-choices>
                                                                    </ui-select>
                                                                </td>
                                                                <td>
                                                                    <button ng-click="updateUserPrimaryOrganization()" class="btn btn-sm btn-primary" type="button">
                                                                        Save Changes&nbsp;<i class="fa fa-check"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <!-- Alt Organizations -->
                                                <div class="panel panel-primary margin-top-30">
                                                    <div class="panel-heading">
                                                        <h3>Member Of Alternate Organizations:</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <ul class="list-group margin-bottom-20">
                                                            <li class="list-item margin-bottom-10 margin-left-10" ng-repeat="n in rightPanel.data.additionalOrgs">
                                                                <button ng-click="deleteUserAlternateOrganization(n)" class="btn btn-xs btn-danger">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                                &nbsp;&nbsp;<strong>{{ n.name }}</strong>
                                                            </li>
                                                        </ul>
                                                        <table class="table table-striped table-hover">
                                                            <colgroup>
                                                                <col style="width: 70%" />
                                                                <col style="width: 30%" />
                                                            </colgroup>
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <ui-select multiple ng-model="editUser.altOrgs" theme="select2" style="width: 300px;">
                                                                        <ui-select-match placeholder="Choose Additional Organizations">{{ $item.name }}</ui-select-match>
                                                                        <ui-select-choices repeat="organization in organizations | filter: $select.search">
                                                                            <div ng-bind-html="organization.name | highlight: $select.search"></div>
                                                                        </ui-select-choices>
                                                                    </ui-select>
                                                                </td>
                                                                <td>
                                                                    <button ng-click="updateUserAlternateOrganizations()" class="btn btn-sm btn-primary" type="button">
                                                                        Save Changes&nbsp;<i class="fa fa-check"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <!-- Roles -->
                                                <div class="panel panel-primary margin-top-30">
                                                    <div class="panel-heading">
                                                        <h3>Has Roles:</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <ul class="list-group margin-bottom-20">
                                                            <li class="list-item margin-bottom-10 margin-left-10" ng-repeat="n in rightPanel.data.roles">
                                                                <button ng-click="deleteUserRole(n)" class="btn btn-xs btn-danger">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                                &nbsp;&nbsp;<strong>{{ n.name }}</strong>
                                                            </li>
                                                        </ul>
                                                        <table class="table table-striped table-hover">
                                                            <colgroup>
                                                                <col style="width: 70%" />
                                                                <col style="width: 30%" />
                                                            </colgroup>
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <ui-select multiple ng-model="editUser.roles" theme="select2" style="width: 300px;">
                                                                        <ui-select-match placeholder="Choose Roles">{{ $item.name }}</ui-select-match>
                                                                        <ui-select-choices repeat="role in roles | filter: $select.search">
                                                                            <div ng-bind-html="role.name | highlight: $select.search"></div>
                                                                        </ui-select-choices>
                                                                    </ui-select>
                                                                </td>
                                                                <td>
                                                                    <button ng-click="updateUserRoles()" class="btn btn-sm btn-primary" type="button">
                                                                        Save Changes&nbsp;<i class="fa fa-check"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-content">
                                            <div id="usertab-2" class="tab-pane active" ng-show="usertab == 2">

                                                <div class="table-responsive margin-top-30">
                                                    <table class="table table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>Organization</th>
                                                            <th class="text-center">View</th>
                                                            <th class="text-center">Revise</th>
                                                            <th class="text-center">Comment</th>
                                                            <th class="text-center">Admin</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="n in rightPanel.data.userPermissions">
                                                            <td>{{ n.organizationName }}</td>
                                                            <td class="text-center">
                                                                <div ng-if="n.viewPerm" class="btn btn-primary">
                                                                    <span class="fa fa-check"></span>
                                                                </div>
                                                                <div ng-if="!n.viewPerm" class="btn btn-danger">
                                                                    <span class="fa fa-times"></span>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div ng-if="n.revisePerm" class="btn btn-primary">
                                                                    <span class="fa fa-check"></span>
                                                                </div>
                                                                <div ng-if="!n.revisePerm" class="btn btn-danger">
                                                                    <span class="fa fa-times"></span>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div ng-if="n.commentPerm" class="btn btn-primary">
                                                                    <span class="fa fa-check"></span>
                                                                </div>
                                                                <div ng-if="!n.commentPerm" class="btn btn-danger">
                                                                    <span class="fa fa-times"></span>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div ng-if="n.adminPerm" class="btn btn-primary">
                                                                    <span class="fa fa-check"></span>
                                                                </div>
                                                                <div ng-if="!n.adminPerm" class="btn btn-danger">
                                                                    <span class="fa fa-times"></span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- New Organization panel -->
                        <div id="new-organization" class="tab-pane active" ng-show="rightPanel.view == 'new-org'">
                            <div class="row m-b-lg">
                                <div class="col-xs-12">
                                    <h2>New Organization</h2>
                                </div>
                            </div>
                            <div class="full-height-scroll" full-scroll>
                                <form class="form-horizontal">
                                    <div class="form-group" ng-class="{ 'has-error' : newOrgValidationFail.name }">
                                        <label class="col-sm-2 control-label">
                                            Organization Name
                                        </label>
                                        <div class="col-sm-10 margin-bottom-30">
                                            <input ng-model="newOrg.name" class="form-control" type="text" />
                                            <p class="text-danger" ng-show="newOrgValidationFail.name">Please enter a name for the organization</p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : newOrgValidationFail.description }">
                                        <div class="row margin-bottom-30 padding-left-15">
                                            <label class="col-sm-2 control-label">
                                                Organization Description
                                            </label>
                                            <div class="col-sm-9 margin-bottom-20">
                                                <textarea ng-model="newOrg.description" rows="8"></textarea>
                                                <p class="text-danger" ng-show="newOrgValidationFail.description">Please enter a description</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 col-sm-offset-2">
                                            <button ng-click="createNewOrg()" class="btn btn-block btn-primary" type="button">
                                                Create Organization
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div ng-show="successfullyAddedOrg" class="show-hide-notifications text-center alert alert-success margin-top-20">
                                                <h3>Successfully Added Organization</h3>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end new org -->

                        <!-- Existing organization panel -->
                        <div id="company-1" class="tab-pane active" ng-show="rightPanel.view == 'org'">
                            <div class="m-b-lg">
                                <h2>{{ rightPanel.data.name }}</h2>

                                <p class="margin-top-20">
                                    {{ rightPanel.data.description }}
                                </p>
                            </div>
                            <div class="client-detail">
                                <div class="full-height-scroll" full-scroll>

                                    <div class="ibox float-e-margins">

                                        <div class="ibox-title">
                                            <h3><strong>Members</strong></h3>
                                            <div>
                                                <form role="search">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <ui-select ng-model="editOrg.newMember" theme="selectize" style="width: 300px;">
                                                                <ui-select-match placeholder="Choose Member To Add">{{ $select.selected.firstName }} {{ $select.selected.lastName }}</ui-select-match>
                                                                <ui-select-choices repeat="user in users | filter: $select.search">
                                                                    <div ng-bind-html="user.firstName + ' ' + user.lastName | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                            <button ng-click="addMember()" class="btn btn-primary" type="button">
                                                                <i class="fa fa-plus"> Add</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="ibox-content">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="n in rightPanel.data.orgUsers">
                                                        <td><a ng-click="changeRightPanel('user', n)" class="client-link">{{ n.firstName }}</a></td>
                                                        <td><a ng-click="changeRightPanel('user', n)" class="client-link">{{ n.lastName }}</a></td>
                                                        <td>
                                                            <button ng-click="changeRightPanel('user', n)" class="btn btn-sm btn-warning" type="button">
                                                                <i class="fa fa-pencil"></i> Edit
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="new-role" class="tab-pane active" ng-show="rightPanel.view == 'new-role'">
                            <div class="row m-b-lg">
                                <div class="col-xs-12">
                                    <h2>New Role</h2>
                                </div>
                            </div>

                            <form class="form-horizontal">
                                <div class="form-group" ng-class="{ 'has-error' : newRoleValidationFail.name }">
                                    <label class="col-sm-2 control-label">
                                        Role Name
                                    </label>
                                    <div class="col-sm-10 margin-bottom-30">
                                        <input ng-model="newRole.name" class="form-control" type="text" />
                                        <p class="text-danger" ng-show="newRoleValidationFail.name">Please enter a name</p>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : newRoleValidationFail.description }">
                                    <div class="row margin-bottom-30 padding-left-15">
                                        <label class="col-sm-2 control-label">
                                            Role Description
                                        </label>
                                        <div class="col-sm-9 margin-bottom-20">
                                            <textarea ng-model="newRole.description" rows="8"></textarea>
                                            <p class="text-danger" ng-show="newRoleValidationFail.description">Please enter a description</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : newRoleValidationFail.permissions }">
                                    <label class="col-sm-2 control-label">
                                        Organization
                                    </label>
                                    <div class="col-sm-10 margin-bottom-20 padding-left-15 ">
                                        <ui-select ng-model="permission.organization" theme="selectize" style="width: 300px;">
                                            <ui-select-match placeholder="Add Organization To Role">{{ $select.selected.name }}</ui-select-match>
                                            <ui-select-choices repeat="organization in organizations | filter: $select.search">
                                                <div ng-bind-html="organization.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <p class="text-danger" ng-show="newRoleValidationFail.permissions">Please include at least one organization</p>
                                    </div>
                                    <div class="text-right">
                                        <button ng-click="addOrgToRole()" class="btn btn-primary">
                                            <span class="fa fa-plus"></span>
                                            &nbsp;Include Organization In Role
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <form class="form-horizontal margin-top-45">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        Permissions
                                    </label>
                                    <div class="col-sm-10">
                                        <div class="col-lg-12">
                                            <div class="table-responsive margin-left-15">
                                                <table class="table table-hover">
                                                    <colgroup>
                                                        <col style="width: 10%" />
                                                        <col style="width: 30%" />
                                                        <col style="width: 15%" />
                                                        <col style="width: 15%" />
                                                        <col style="width: 15%" />
                                                        <col style="width: 15%" />
                                                    </colgroup>
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th class="text-center">Organization</th>
                                                        <th class="text-center">View</th>
                                                        <th class="text-center">Revise</th>
                                                        <th class="text-center">Comment</th>
                                                        <th class="text-center">Admin</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="p in newRolePermissions">
                                                        <td>
                                                            <button ng-click="removeOrgFromRole($index)" class="btn btn-danger">
                                                                <span class="fa fa-times"></span>
                                                            </button>
                                                        </td>
                                                        <td>{{ p.organizationName }}</td>
                                                        <td class="text-center">
                                                            <input icheck type="checkbox" ng-model="newRolePermissions[$index].viewPerm">
                                                        </td>
                                                        <td class="text-center">
                                                            <input icheck type="checkbox" ng-model="newRolePermissions[$index].revisePerm">
                                                        </td>
                                                        <td class="text-center">
                                                            <input icheck type="checkbox" ng-model="newRolePermissions[$index].commentPerm">
                                                        </td>
                                                        <td class="text-center">
                                                            <input icheck type="checkbox" ng-model="newRolePermissions[$index].adminPerm">
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="col-sm-6 col-sm-offset-2 margin-top-20">
                                <button ng-click="createNewRole()" class="btn btn-block btn-primary" type="button">
                                    Create Role
                                </button>
                            </div>

                            <div class="col-xs-12">
                                <div ng-show="successfullyAddedRole" class="show-hide-notifications text-center alert alert-success margin-top-20">
                                    <h3>Successfully Added Role</h3>
                                </div>
                            </div>

                        </div>

                        <div id="client9" class="tab-pane active" ng-show="rightPanel.view == 'role'">
                            <div class="row m-b-lg">
                                <div class="col-xs-12">
                                    <h2>Edit Role</h2>
                                </div>
                            </div>
                            <div class="full-height-scroll" full-scroll>

                                <div class="ibox float-e-margins">
                                    <div class="ibox-heading">
                                        <h4><strong>{{ rightPanel.data.role.name }}</strong></h4>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="table-responsive margin-left-15">
                                            <table class="table table-hover">
                                                <colgroup>
                                                    <col style="width: 40%" />
                                                    <col style="width: 15%" />
                                                    <col style="width: 15%" />
                                                    <col style="width: 15%" />
                                                    <col style="width: 15%" />
                                                </colgroup>
                                                <thead>
                                                <tr>
                                                    <th>Organization</th>
                                                    <th class="text-center">View</th>
                                                    <th class="text-center">Revise</th>
                                                    <th class="text-center">Comment</th>
                                                    <th class="text-center">Admin</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="rp in rightPanel.data.rolePermissions">
                                                    <td>{{ getOrgNameById(rp.key.organizationId) }}</td>
                                                    <td class="text-center">
                                                        <input icheck type="checkbox" ng-model="rp.viewPerm">
                                                    </td>
                                                    <td class="text-center">
                                                        <input icheck type="checkbox" ng-model="rp.revisePerm">
                                                    </td>
                                                    <td class="text-center">
                                                        <input icheck type="checkbox" ng-model="rp.commentPerm">
                                                    </td>
                                                    <td class="text-center">
                                                        <input icheck type="checkbox" ng-model="rp.adminPerm">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-sm-6 margin-top-20">
                                            <button ng-click="updateRolePermissions()" class="btn btn-block btn-primary" type="button">
                                                Save Changes
                                            </button>
                                        </div>

                                        <div class="col-xs-12">
                                            <div ng-show="successfullyUpdatedRole" class="show-hide-notifications text-center alert alert-success margin-top-20">
                                                <h3>Successfully Modified Role</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>