<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <img alt="" class="img-circle sidebar-avatar" src="img/profile_pic_placeholder.png"/>
                    <span class="clear">
                        <span class="block m-t-xs">
                            <strong class="font-bold">{{ userDetails.name }}</strong>
                        </span>
                        <span class="text-muted text-xs block">{{ userDetails.title }}</span>
                    </span>

                </div>
                <div class="logo-element">
                    PS
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="home.news-feed"><i class="fa fa-rss-square"></i> <span class="nav-label">News Feed</span></a>
            </li>
            <li ui-sref-active="active">
                <a ><i class="fa fa-desktop"></i> <span class="nav-label">Task Manager</span></a>
            </li>
            <li ng-class="{active: $state.includes('process-viewer')}">
                <a><i class="fa fa-server"></i> <span class="nav-label">Process Viewer</span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('process-viewer')}">
                    <li ui-sref-active="active"><a ui-sref="process-viewer.document-lookup"><i class="fa fa-search"></i>Document Lookup</a></li>
                    <li ui-sref-active="active"><a ><i class="fa fa-random"></i>Flow Viewer</a></li>
                    <li ui-sref-active="active"><a ><i class="fa fa-tree"></i>Tree View</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ><i class="fa fa-line-chart"></i> <span class="nav-label">Reporting</span></a>
            </li>
            <li ng-show="user.isSuperAdmin" ng-class="{active: $state.includes('administration')}">
                <a><i class="fa fa-key"></i> <span class="nav-label">Administration</span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('administration')}">
                    <li ui-sref-active="active"><a ui-sref="admin.manageUsers"><i class="fa fa-users"></i>Manage Users</a></li>
                    <li ui-sref-active="active"><a ui-sref="admin.documentTypeSetup"><i class="fa fa-file-text"></i>Document Type Setup</a></li>
                    <li ui-sref-active="active"><a><i class="fa fa-check"></i>Sign-off Paths</a></li>
                    <li ui-sref-active="active"><a ui-sref="admin.moduleSettings"><i class="fa fa-gears"></i>Modules/Settings</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="home.profile"><i class="fa fa-user"></i> <span class="nav-label">Profile</span> </a>
            </li>
            <li ui-sref-active="active">
                <a href="" ng-click="logout()"><i class="fa fa-sign-out"></i> <span class="nav-label">Logout</span> </a>
            </li>

        </ul>

    </div>
</nav>