<div class="row border-bottom" ng-controller="NavBarCtrl">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <h3 class="margin-right-20">Welcome To ProveSoft</h3>
            </li>
            <li class="dropdown" dropdown="">
                <a href="" class="dropdown-toggle count-info" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell"></i> Notifications
                    <span ng-hide="approvals.length==0" class="label label-warning">{{ approvals.length }}</span>
                </a>
                <ul ng-hide="approvals.length==0" class="dropdown-menu dropdown-alerts">
                    <li class="row" ng-repeat="n in approvals" ng-class="{'margin-bottom-20' : !$last}">
                        <div class="col-xs-6">
                            <strong>{{ n.document.title }}</strong>&nbsp;document revision needs approval&nbsp;
                        </div>
                        <div class="col-xs-6">
                            <div class="text-right" ng-class="{'margin-right-minus-15' : $last}">
                                <button ng-click="approve(n, $index)" class="btn btn-xs btn-primary">Approve</button>
                                <button ng-click="reject(n, $index)" class="btn btn-xs btn-danger">Reject</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown" dropdown="">
                <a class="dropdown-toggle count-info" dropdown-toggle="" href="" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-reorder"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="" ng-click="logout()">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>