<div class="content purpleback">
    <div class="container container-fluid">
        <div class="row" style="margin-top: 25%">

            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <h1 class="header-1a">Registration</h1>
            </div>

            <!-- Login form -->
            <div class="col-sm-12 col-md-6 col-md-offset-3 margin-bottom-60 signinBox" ng-if="!userLoggedin">
                <div class="col-sm-10 col-sm-offset-1 padding-top-50 padding-bottom-30">
                    <form role="form" ng-submit="registerByToken()" novalidate>
                        <div class="form-group" ng-class="{ 'has-error': regVerificationInput.validationErrors.email }">
                            <label class="subHeader-1">Email</label>
                            <input type="text" id="email" name="Email" placeholder="Enter email for verification" class="form-control rounded-4x trans50" ng-model="regVerificationInput.email">
                            <span class="help-block">{{ regVerificationInput.validationErrors.email }}</span>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': regVerificationInput.validationErrors.password }">
                            <label class="subHeader-1">New Password</label>
                            <input type="password" id="newPassword" name="password" placeholder="New Password" class="form-control rounded-4x trans50" ng-model="regVerificationInput.newPassword">
                            <span class="help-block">{{ regVerificationInput.validationErrors.password }}</span>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': regVerificationInput.validationErrors.verifyPassword }">
                            <label class="subHeader-1">New Password</label>
                            <input type="password" id="passwordVerify" name="passwordVerify" placeholder="Verify New Password" class="form-control rounded-4x trans50" ng-model="regVerificationInput.verifyNewPassword">
                            <span class="help-block">{{ regVerificationInput.validationErrors.verifyPassword }}</span>
                        </div>
                        <div>
                            <button ng-disabled="successfullyRegistered" class="btn btn-lg bg-color-white rounded pull-right" type="submit"><strong>Create Account</strong></button>
                        </div>
                    </form>
                </div>
            </div>

            <div ng-show="successfullyRegistered" class="col-sm-12 col-md-6 col-md-offset-3 margin-bottom-60" style="margin-top:-20px;">
                <div class="alert alert-success">
                    Successfully created account. Please <a class="alert-link" href="/">login</a> with your new credentials.
                </div>
            </div>

            <div ng-show="regError" class="col-sm-12 col-md-6 col-md-offset-3 margin-bottom-60" style="margin-top:-20px;">
                <div class="alert alert-warning">
                    Email or creation link maybe incorrect. Please check that your email address is correct or reload the link found in your email.
                </div>
            </div>

        </div>
    </div>
</div>