<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-xs-12">
        <h1>Manage Users</h1>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-8 col-lg-7">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="clients-list">
                        <ul class="nav nav-tabs">
                            <li ng-class="{'active' : tab == 1}"><a ng-click="tab = 1" ng-init="tab = 1"><i class="fa fa-users"></i> Users</a></li>
                            <li ng-class="{'active' : tab == 2}"><a ng-click="tab = 2"><i class="fa fa-sitemap"></i> Organizations</a></li>
                            <li ng-class="{'active' : tab == 3}"><a ng-click="tab = 3"><i class="fa fa-user-secret"></i> Roles</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active" ng-show="tab == 1">

                                <div class="margin-top-25 margin-bottom-20">
                                    <h3>
                                        <a href="" ng-click="client='new-user'">
                                            <button class="btn btn-primary">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            &nbsp;Add New User
                                        </a>
                                    </h3>
                                </div>

                                <div class="full-height-scroll" full-scroll>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Roles</th>
                                                <th>Primary Organization</th>
                                                <th>Alt Organization</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="client-avatar"><a ng-click="client = 1" class="client-link"><img alt="image" src="img/profile_pic_placeholder.png"></a></td>
                                                <td><a ng-click="client = 1" class="client-link">Anthony</a></td>
                                                <td><a ng-click="client = 1" class="client-link">Jackson</a></td>
                                                <td>a.jackson@company.com</td>
                                                <td>
                                                    <ul>
                                                        <li>User</li>
                                                        <li>Super User</li>
                                                    </ul>
                                                </td>
                                                <td>Supply Chain</td>
                                                <td>Finance</td>
                                            </tr>
                                            <tr>
                                                <td class="client-avatar"><a ng-click="client = 2" class="client-link"><img alt="image" src="img/profile_pic_placeholder.png"></a></td>
                                                <td><a ng-click="client = 2" class="client-link">Rooney</a></td>
                                                <td><a ng-click="client = 2" class="client-link">Lindsey</a></td>
                                                <td>r.lindsey@company.com</td>
                                                <td>
                                                    <ul>
                                                        <li>User</li>
                                                    </ul>
                                                </td>
                                                <td>Finance</td>
                                                <td>--</td>
                                            </tr>
                                            <tr>
                                                <td class="client-avatar"><a ng-click="client = 3" class="client-link"><img alt="image" src="img/profile_pic_placeholder.png"></a></td>
                                                <td><a ng-click="client = 3" class="client-link">Lionel</a></td>
                                                <td><a ng-click="client = 3" class="client-link">Mcmillan</a></td>
                                                <td>l.mcmillan@company.com</td>
                                                <td>
                                                    <ul>
                                                        <li>User</li>
                                                    </ul>
                                                </td>
                                                <td>Supply Chain</td>
                                                <td>--</td>
                                            </tr>
                                            <tr>
                                                <td class="client-avatar"><a ng-click="client = 4" class="client-link"><img alt="image" src="img/profile_pic_placeholder.png"></a></td>
                                                <td><a ng-click="client = 4" class="client-link">Edan</a></td>
                                                <td><a ng-click="client = 4" class="client-link">Randall</a></td>
                                                <td>e.randall@company.com</td>
                                                <td>
                                                    <ul>
                                                        <li>User</li>
                                                    </ul>
                                                </td>
                                                <td>Finance</td>
                                                <td>--</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane active" ng-show="tab == 2">

                                <div class="margin-top-25 margin-bottom-20">
                                    <h3>
                                        <a href="">
                                            <button class="btn btn-primary">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            &nbsp;Add New Organization
                                        </a>
                                    </h3>
                                </div>

                                <div class="full-height-scroll" full-scroll>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <tbody>
                                            <tr>
                                                <td><a ng-click="client = 5" class="client-link">Tellus Institute</a></td>
                                                <td>Rexton</td>
                                                <td><i class="fa fa-flag"></i> Angola</td>
                                                <td class="client-status"><span class="label label-primary">Active</span></td>
                                            </tr>
                                            <tr>
                                                <td><a ng-click="client = 6" class="client-link">Velit Industries</a></td>
                                                <td>Maglie</td>
                                                <td><i class="fa fa-flag"></i> Luxembourg</td>
                                                <td class="client-status"><span class="label label-primary">Active</span></td>
                                            </tr>
                                            <tr>
                                                <td><a ng-click="client = 7" class="client-link">Art Limited</a></td>
                                                <td>Sooke</td>
                                                <td><i class="fa fa-flag"></i> Philippines</td>
                                                <td class="client-status"></td>
                                            </tr>
                                            <tr>
                                                <td><a ng-click="client = 5" class="client-link">Tempor Arcu Corp.</a></td>
                                                <td>Eisden</td>
                                                <td><i class="fa fa-flag"></i> Korea, North</td>
                                                <td class="client-status"><span class="label label-warning">Waiting</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-3" class="tab-pane active" ng-show="tab == 3">

                                <div class="margin-top-25 margin-bottom-20">
                                    <h3>
                                        <a href="">
                                            <button class="btn btn-primary">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            &nbsp;Add New Role
                                        </a>
                                    </h3>
                                </div>

                                <div class="full-height-scroll" full-scroll>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-5">
            <div class="ibox ">

                <div class="ibox-content">
                    <div class="tab-content">

                        <div id="new-user" class="tab-pane active" ng-show="client == 'new-user'">
                            <div class="row m-b-lg">
                                <div class="col-lg-4">
                                    <h2>New User</h2>

                                    <div class="m-b-sm">
                                        <img alt="image" class="img-circle admin-panel-avatar" src="img/default_profile.png" />
                                    </div>
                                </div>
                                <div class="col-lg-8 margin-top-30">
                                    <h3 class="text-primary">
                                        6 Licenses Remaining
                                    </h3>
                                </div>
                            </div>
                            <div class="full-height-scroll" full-scroll>
                                <form class="form-horizontal">
                                    <div class="form-group">

                                        <label class="col-sm-2 control-label">
                                            First Name
                                        </label>
                                        <div class="col-sm-10 margin-bottom-30">
                                            <input class="form-control" type="text" />
                                        </div>

                                        <label class="col-sm-2 control-label">
                                            Last Name
                                        </label>
                                        <div class="col-sm-10 margin-bottom-30">
                                            <input class="form-control" type="text" />
                                        </div>

                                        <label class="col-sm-2 control-label">
                                            Email
                                        </label>
                                        <div class="col-sm-10 margin-bottom-30">
                                            <input class="form-control" type="text" />
                                        </div>

                                        <div class="row margin-bottom-30 padding-left-15">
                                            <label class="col-sm-2 control-label">
                                                User Roles
                                            </label>
                                            <div class="col-lg-6 m-l">
                                                <select class="form-control m-l-n" multiple="multiple">
                                                    <option value="role1">
                                                        Role 1
                                                    </option>
                                                    <option value="role2">
                                                        Role 2
                                                    </option>
                                                    <option value="role3">
                                                        Role 3
                                                    </option>
                                                    <option value="role4">
                                                        Role 4
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row margin-bottom-30 padding-left-15">
                                            <label class="col-sm-2 control-label">
                                                Primary Organization
                                            </label>
                                            <div class="col-lg-6">
                                                <select class="form-control" name="organization">
                                                    <option value="org1">
                                                        Organization 1
                                                    </option>
                                                    <option value="org2">
                                                        Organization 2
                                                    </option>
                                                    <option value="org3">
                                                        Organization 3
                                                    </option>
                                                    <option value="org4">
                                                        Organization 4
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row margin-bottom-30 padding-left-15">
                                            <label class="col-sm-2 control-label">
                                                Additional Organizations
                                            </label>
                                            <div class="col-lg-6">
                                                <select class="form-control" multiple="multiple">
                                                    <option value="org1">
                                                        Organization 1
                                                    </option>
                                                    <option value="org2">
                                                        Organization 2
                                                    </option>
                                                    <option value="org3">
                                                        Organization 3
                                                    </option>
                                                    <option value="org4">
                                                        Organization 4
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-sm-offset-2 margin-top-20">
                                            <button class="btn btn-block btn-primary" type="button">
                                                Add User
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>

                        <div id="contact-1" class="tab-pane active" ng-show="client == 1" ng-init="client = 1">
                            <div class="row m-b-lg">
                                <div class="col-xs-6">
                                    <h2>Anthony Jackson</h2>

                                    <strong>Se&ntilde;ior Vice President Of Mung&eacute;da Division</strong>

                                    <div class="m-b-sm margin-top-20">
                                        <img alt="image" class="img-circle admin-panel-avatar" src="img/profile_pic_placeholder.png"/>
                                    </div>
                                </div>
                                <div class="col-xs-6 margin-top-20 text-center">
                                    <strong>
                                        Last Visited
                                    </strong>
                                    <p>
                                        Yesterday at 12:31 pm
                                    </p>
                                </div>
                            </div>
                            <div class="client-detail">
                                <div class="full-height-scroll" full-scroll>

                                    <strong>Last activity</strong>

                                    <ul class="list-group clear-list">
                                        <li class="list-group-item fist-item">
                                            <span class="pull-right"> June 10th, 09:00 pm </span>
                                            Edited process on banana manufacturing.
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right"> June 10th, 10:16 am </span>
                                            Signed-Off on bean counting process BC10-0021.
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right"> June 7th, 11:06 pm </span>
                                            Commented on status of Supply Chain organization.
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right"> June 1st, 12:00 am </span>
                                            Joined Provesoft.
                                        </li>
                                    </ul>
                                    <hr/>

                                    <div class="clients-list">
                                        <ul class="nav nav-tabs">
                                            <li ng-class="{'active' : usertab == 1}"><a ng-click="usertab = 1" ng-init="usertab = 1"><i class="fa fa-tasks"></i> Details</a></li>
                                            <li ng-class="{'active' : usertab == 2}"><a ng-click="usertab = 2"><i class="fa fa-key"></i> Organization Permissions</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="usertab-1" class="tab-pane active" ng-show="usertab == 1">

                                                <div class="table-responsive margin-top-30">
                                                    <table class="table table-striped table-hover">
                                                        <tbody>
                                                        <tr>
                                                            <td><h4><strong>Primary Organization:</strong></h4></td>
                                                            <td>Supply Chain</td>
                                                            <td>
                                                                <button class="btn btn-sm btn-warning" type="button">
                                                                    <i class="fa fa-pencil"></i> Edit
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><h4><strong>Primary Organization Roles:</strong></h4></td>
                                                            <td>
                                                                <ul>
                                                                    <li>User</li>
                                                                    <li>Super User</li>
                                                                </ul>
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-sm btn-warning" type="button">
                                                                    <i class="fa fa-pencil"></i> Edit
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><h4><strong>Alternate Organizations:</strong></h4></td>
                                                            <td>
                                                                <ul>
                                                                    <li>Finance</li>
                                                                    <li>Human Resources</li>
                                                                </ul>
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-sm btn-warning" type="button">
                                                                    <i class="fa fa-pencil"></i> Edit
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-content">
                                            <div id="usertab-2" class="tab-pane active" ng-show="usertab == 2">

                                                <div class="table-responsive margin-top-30">
                                                    <table class="table table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>Organization</th>
                                                            <th class="text-center">View</th>
                                                            <th class="text-center">Revise</th>
                                                            <th class="text-center">Comment</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>Supply Chain</td>
                                                            <td class="text-center">
                                                                <input icheck type="checkbox" ng-model="org.sup1">
                                                            </td>
                                                            <td class="text-center">
                                                                <input icheck type="checkbox" ng-model="org.sup2">
                                                            </td>
                                                            <td class="text-center">
                                                                <input icheck type="checkbox" ng-model="org.sup3">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Finance</td>
                                                            <td class="text-center">
                                                                <input icheck type="checkbox" ng-model="org.fin1">
                                                            </td>
                                                            <td class="text-center">
                                                                <input icheck type="checkbox" ng-model="org.fin2">
                                                            </td>
                                                            <td class="text-center">
                                                                <input icheck type="checkbox" ng-model="org.fin3">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Human Resources</td>
                                                            <td class="text-center">
                                                                <input icheck type="checkbox" ng-model="org.hr1">
                                                            </td>
                                                            <td class="text-center">
                                                                <input icheck type="checkbox" ng-model="org.hr2">
                                                            </td>
                                                            <td class="text-center">
                                                                <input icheck type="checkbox" ng-model="org.hr3">
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="company-1" class="tab-pane active" ng-show="client == 5">
                            <div class="m-b-lg">
                                <h2>Tellus Institute</h2>

                                <p>
                                    Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,written in 45 BC. This book is a treatise on.
                                </p>
                                <div>
                                    <small>Active project completion with: 48%</small>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="client-detail">
                                <div class="full-height-scroll" full-scroll>

                                    <strong>Last activity</strong>

                                    <ul class="list-group clear-list">
                                        <li class="list-group-item fist-item">
                                            <span class="pull-right"> <span class="label label-primary">NEW</span> </span>
                                            The point of using
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right"> <span class="label label-warning">WAITING</span></span>
                                            Lorem Ipsum is that it has
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right"> <span class="label label-danger">BLOCKED</span> </span>
                                            If you are going
                                        </li>
                                    </ul>
                                    <strong>Notes</strong>
                                    <p>
                                        Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                    </p>
                                    <hr/>
                                    <strong>Timeline activity</strong>
                                    <div id="vertical-timeline" class="vertical-container dark-timeline">
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon gray-bg">
                                                <i class="fa fa-coffee"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>Conference on the sales results for the previous year.
                                                </p>
                                                <span class="vertical-date small text-muted"> 2:10 pm - 12.06.2014 </span>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon gray-bg">
                                                <i class="fa fa-briefcase"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>Many desktop publishing packages and web page editors now use Lorem.
                                                </p>
                                                <span class="vertical-date small text-muted"> 4:20 pm - 10.05.2014 </span>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon gray-bg">
                                                <i class="fa fa-bolt"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>There are many variations of passages of Lorem Ipsum available.
                                                </p>
                                                <span class="vertical-date small text-muted"> 06:10 pm - 11.03.2014 </span>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon navy-bg">
                                                <i class="fa fa-warning"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>The generated Lorem Ipsum is therefore.
                                                </p>
                                                <span class="vertical-date small text-muted"> 02:50 pm - 03.10.2014 </span>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon gray-bg">
                                                <i class="fa fa-coffee"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>Conference on the sales results for the previous year.
                                                </p>
                                                <span class="vertical-date small text-muted"> 2:10 pm - 12.06.2014 </span>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon gray-bg">
                                                <i class="fa fa-briefcase"></i>
                                            </div>
                                            <div class="vertical-timeline-content">
                                                <p>Many desktop publishing packages and web page editors now use Lorem.
                                                </p>
                                                <span class="vertical-date small text-muted"> 4:20 pm - 10.05.2014 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>