/* Remove ugly dotted line when clicked */
/* Consider maybe changing opacity or color to preserve accessibility */
a, a:active, a:focus {
    outline: none;
}
button, button:active, button:focus {
    outline: none;
}

/* Remove bullet points and indentation */
ul, li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

/* Wrap organization descriptions in admin organizations table */
p .org-desc {
    word-wrap: break-word;
}

textarea {
    width: 100%;
}

.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-25 { margin-top: 25px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-35 { margin-top: 35px; }
.margin-top-40 { margin-top: 40px; }
.margin-top-45 { margin-top: 45px; }
.margin-top-50 { margin-top: 50px; }

.margin-left-5 { margin-left: 5px; }
.margin-left-10 { margin-left: 10px; }
.margin-left-15 { margin-left: 15px; }
.margin-left-20 { margin-left: 20px; }

.margin-right-5 { margin-right: 5px; }
.margin-right-10 { margin-right: 10px; }
.margin-right-15 { margin-right: 15px; }
.margin-right-20 { margin-right: 20px; }

.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-25 { margin-bottom: 25px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-35 { margin-bottom: 35px; }
.margin-bottom-40 { margin-bottom: 40px; }
.margin-bottom-45 { margin-bottom: 45px; }
.margin-bottom-50 { margin-bottom: 50px; }

.padding-top-10 { padding-top: 10px; }
.padding-top-15 { padding-top: 15px; }
.padding-top-20 { padding-top: 20px; }
.padding-top-25 { padding-top: 25px; }
.padding-top-30 { padding-top: 30px; }
.padding-top-35 { padding-top: 35px; }
.padding-top-40 { padding-top: 40px; }
.padding-top-45 { padding-top: 45px; }
.padding-top-50 { padding-top: 50px; }

.padding-bottom-10 { padding-bottom: 10px; }
.padding-bottom-15 { padding-bottom: 15px; }
.padding-bottom-20 { padding-bottom: 20px; }
.padding-bottom-25 { padding-bottom: 25px; }
.padding-bottom-30 { padding-bottom: 30px; }
.padding-bottom-35 { padding-bottom: 35px; }
.padding-bottom-40 { padding-bottom: 40px; }
.padding-bottom-45 { padding-bottom: 45px; }
.padding-bottom-50 { padding-bottom: 50px; }

.padding-left-5 { padding-left: 5px; }
.padding-left-10 { padding-left: 10px; }
.padding-left-15 { padding-left: 15px; }

.padding-right-5 { padding-right: 5px; }
.padding-right-10 { padding-right: 10px; }
.padding-right-15 { padding-right: 15px; }

/* Resize profile pics */
.sidebar-avatar {
    display: block;
    max-width: 72px;
    max-height: 72px;
    width: auto;
    height: auto;
}

.admin-panel-avatar {
    display: block;
    max-width: 96px;
    max-height: 96px;
    width: auto;
    height: auto;
}

.messages-avatar {
    display: block;
    max-width: 48px;
    max-height: 48px;
    width: auto;
    height: auto;
}

/* Ng-Animate classes */
.show-hide-notifications {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.show-hide-notifications.ng-hide {
    opacity: 0;
}

/* iBox addons */
.ibox-border {
    -moz-border-bottom-colors: #e7eaec;
    -moz-border-left-colors: #e7eaec;
    -moz-border-right-colors: #e7eaec;
    -moz-border-top-colors: #e7eaec;
    border: 2px solid #e7eaec;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}
